<%= form_for(@advertise ) do |f| %>
  <% if @advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise.errors.count, "error") %> prohibited this advertise from being saved:</h2>

      <ul>
      <% @advertise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cateogry %><br>
    <div id="cat_subcat_name"></div>
    <%= render 'advertises/cat_subcat'%>
    <%= f.hidden_field :cateogry_id, :value=>"#{@advertise.cateogry_id}" %>
    <%= f.hidden_field :subcateogry_id, :value=>"#{@advertise.subcateogry_id}" %>

  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title ,:class=>"form-control",:placeholder=>"Title"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description ,:class=>"form-control",:placeholder=>"Description"%>
  </div>
  <div class="field" id="branch">
    <%= f.label :branch %><br>
    <select data-placeholder="Select branch from here." style="width:100%;" class="chosen-select" multiple tabindex="6">
      <option value=""></option>
      <% @branch.each do |b| %>
        <option value="<%=b.id%>"><%=b.name%></option>
      <%end%>
    </select>
  </div>
  <%= f.hidden_field :branch_id, :value=>"#{@advertise.branch_id}" %>
  <div class="field">
    <%= f.label :weblink %><br>
    <%= f.text_field :weblink ,:class=>"form-control",:placeholder=>"Weblink"%>
  </div>
  <div class="field" id="zone">
    <%= f.label :zone %><br>
    <select data-placeholder="Select zone from here." style="width:100%;" class="chosen-select" multiple tabindex="6">
    <option value=""></option>
      <% @zone.each do |z| %>
        <option value="<%=z.id%>"><%=z.name%></option>
      <%end%>
    </select>
  </div>
  <%= f.hidden_field :zone_id, :value=>"#{@advertise.zone_id}" %>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date ,:class=>"form-control",:placeholder=>"Start Date"%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit(:class=>"btn btn-primary") %>
  </div>
<% end %>


<script type="text/javascript">
      var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
      $(selector).chosen(config[selector]);
      }
</script>

<script>


$('.chosen-choices').focusout(function(){
  var branch = [];
  var zone = [];
  $( "#branch .search-choice" ).each(function(){
    id=$(this).children("a").attr("data-option-array-index")
    branch.push(id);
  });

  $('#advertise_branch_id').val(branch)

  $( "#zone .search-choice" ).each(function(){
    id=$(this).children("a").attr("data-option-array-index")
    zone.push(id);
  });
  $('#advertise_zone_id').val(zone)

})


// li=$( "#branch ul" ).append("<li></li>")
// li.addClass("search-choice")
// li.append(" <span>branch1</span>");
// ancor=li.append("<a class="search-choice-close" data-option-array-index="1"></a>")
   
</script>

