<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p id="notice"><%= notice %></p>

    
    <p>
      <strong>Title:</strong>
      <%= @advertise.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @advertise.description %>
    </p>

    <p>
      <strong>Branch:</strong>
      <%= @advertise.branch_id %>
    </p>

    <p>
      <strong>Weblink:</strong>
      <%= @advertise.weblink %>
    </p>

    <p>
      <strong>Zone:</strong>
      <%= @advertise.zone_id %>
    </p>

    <p>
      <strong>Cateogry:</strong>
      <%= @advertise.cateogry.name %>
    </p>

    <p>
      <strong>Subcateogry:</strong>
      <%= @advertise.subcateogry.name %>
    </p>
    <p>
      <strong>Start date:</strong>
      <%= @advertise.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @advertise.end_date %>
    </p>


    <%= link_to 'Edit', edit_advertise_path(@advertise) %> |
    <%= link_to 'Back', advertises_path %>
  <div class="col-md-2"></div>
</div